.registerContainer {
  text-align: center;
}

.mainTitle {
  margin-top: 5%;
  margin-bottom: 5%;
}
.subtitle {
  color: #2c3e50;
  margin-bottom: 2%;
}
.registerLink {
  display: block;
  margin-top: 2%;
}
.registerForm {
  margin: 0 auto;
  width: 66%;
  color: lightslategray;
}
.titleDailyPart {
  color: #e74c3c;
}
.loginLabels {
  text-align: left;
}
.registerButton {
  display: block;
  width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 479px) {
  .registerForm {
    width: 90%;
  }
  .registerForm .row {
    display: block;
  }
  .registerButton {
    margin-bottom: 6%;
  }
}
