h1 {
  color: black;
}
.titleDailyPart {
  color: #e74c3c;
}
.container {
  margin-top: 2%;
}

.logoutButton {
  display: block;
  width: 100px;
  height: fit-content;
  margin: auto;
  margin-left: 66%;
  margin-right: 0;
}
.logoutCol {
  display: flex;
}
.fa-info-circle {
  color: lightgray;
  margin: auto;
  margin-left: 3%;
}
.fa-info-circle:hover {
  color: #3498db;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 479px) {
  div.logoutCol.col {
    display: block;
  }
  div.logoutCol.col button {
    width: 100%;
    margin: auto;
    display: block;
  }
  .fa-info-circle {
    margin-top: 3%;
  }
}
