.mainTitle {
  color: black;
}
.titleDailyPart {
  color: #e74c3c;
}
.container {
  margin-top: 2%;
}

.logoutButton {
  display: block;
  width: 100px;
  height: fit-content;
  margin: auto;
  margin-left: 66%;
  margin-right: 0;
}
.logoutCol {
  display: flex;
}
.fa-info-circle {
  color: lightgray;
  margin: auto;
  margin-left: 3%;
}
.fa-info-circle:hover {
  color: #3498db;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 479px) {
  div.logoutCol.col {
    display: flex;
    padding: 0;
    text-align: right;
  }
  div.logoutCol.col button {
    width: auto;
    margin: auto;
    margin-left: 1%;
    float: right;
  }
  .fa-info-circle {
    margin-top: 3%;
    size: 50%;
  }
  .mainTitle {
    font-size: 1.4em;
  }
  .container .row {
    margin: auto;
  }
}
